.home-background {
  background-color: #A9907E;
  height: 100vh;
  padding: 0 20px;
}

#logo {
  height: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-tabs {
  margin-right: 20px;
}